<h3>
  <% if @game.current_turn == @game.player1 %>
  <%= @game.player2.name %> attacked <%= @game.player1.name %>!
  <% else %>
  <%= @game.player1.name %> attacked <%= @game.player2.name %>!
  <% end %>
</h3>
<a href="/play">OK</a>
