</div>

<% unless @name %>
<div class="">
  <form class="" action="/named-cat" method="post" >
    <input type="text" name="name" value="">
    <input type="submit" name="Submit" value="Click!">
  </form>
  <% end %>
</div>
